<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="TestingDBEntities" connectionString="metadata=res://*/Data.DBModel.csdl|res://*/Data.DBModel.ssdl|res://*/Data.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VIVEKLAPTOP;initial catalog=TestingDB;persist security info=True;user id=sa;password=123@T123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>